body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}

nav {
    background-color:#E83E8C ;
    color: white;
}
h1, h5, p {
    color:#212529;
}
.logo1 {
    width: 132px;
}

.pagos {
    background-color: #17A2B8;
    background-size: cover;
    vertical-align: middle;
    width: 100%; 
    color: white;
}

h2 {
    display: inline;
}

i {
    width: 120px;
}

.logo2 {
    background-color: #E83E8C;
    width: 100%;
}

.logoft {
    width: 60px;
    vertical-align: middle;
}

