body {
    font-family: 'Open Sans', sans-serif;
}
nav {
    background-color:#E83E8C ;
}
.logo1 {
    width: 132px;
}
.pagos {
    background-color: #17A2B8;
}
h2 {
    display: inline;
    
}
i {
    width:40px;
}
.logo2 {
    background-color: #E83E8C;
    top: ;
    height: 150px;
}
.logoft {
    width: 70px;
}
